{% extends "base.html" %}

{% load staticfiles %}
{% block websocketlink %}<script src="{% static '/channels/js/websocketbridge.js' %}" type="text/javascript"></script>{% endblock %}

{% block content %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if user %}
  <h1>Hello {{ user }}</h1>
  <h2> {{ add_result }} </h2>
{% endif %}

<div>
  <div>
      <button id="sync_reload">Sync Fetch</button>
      <button id="async_reload">Async Fetch</button>
  </div>
  <br />
  <div id="message" style="color: #5579BE; padding: 6px;"></div>
  <div id="news" style="color: #aaa; padding: 6px;">
  </div>
</div>

<p>Notifications</p>
<ul id="notifylist"></ul>

<table class="table table-dark">
  {% for runner in runners %}
    
      <TR>
        <TD>{{ runner.market.marketStartTime }}</TD>
        <TD>{{ runner.market.marketId }}</TD>
        <TD>      </TD>
        <TD>      </TD>
        <TD>{{ runner.market.course }}</TD>
        <TD>{{ runner.selectionId }}</TD>
        <TD>{{ runner.runnerName }}</TD>
        <TD>      </TD>
      </TR>
  {% endfor %}
</table>

{% load staticfiles %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const webSocketBridge = new channels.WebSocketBridge();
      const nl = document.querySelector("#notifylist");
      
      webSocketBridge.connect('/notifications/');
      webSocketBridge.listen(function(action, stream) {
        console.log("RESPONSE:", action);
        if(action.event == "New Runner") {
          var el = document.createElement("li");
          el.innerHTML = `New runner <b>${action.runnerId}</b> has joined!`;
          nl.appendChild(el);
        }
      })
      document.ws = webSocketBridge; /* for debugging */
    })
  
</script>



{% endblock %}